{% extends 'base.html.twig' %}

{% block header %}
    {# Intentionally left empty to not include the header #}
{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background: linear-gradient(to bottom right, #98FB98, #87CEEB);">
        <form action="{{ path('app_login') }}" method="post" style="width: 400px; padding: 30px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); background-color: #fff;">
            <h1 style="text-align: center; font-size: 32px; margin-bottom: 20px;">Login</h1>

            <div style="margin-bottom: 20px;">
                <label for="username" style="display: block; font-weight: bold;">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 10px;">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="password" style="display: block; font-weight: bold;">Password:</label>
                <input type="password" id="password" name="_password" style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 10px;">
            </div>

            {% if error %}
                <div style="color: red; margin-bottom: 15px; text-align: center;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div style="margin-bottom: 15px; text-align: center;">
                <a href="{{ path('app_homepage') }}" style="text-decoration: none; color: #007bff; margin-right: 10px;">Go to Homepage</a>
                <a href="{{ path('app_register') }}" style="text-decoration: none; color: #007bff; margin-left: 10px;">Register</a>
            </div>

            <input type="hidden" name="_target_path" value="/home">

            <div style="text-align: center;">
                <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 30px; border-radius: 5px; cursor: pointer; font-weight: bold;">Login</button>
            </div>
        </form>
    </div>

    {% block footer %}
        {# Intentionally left empty to not include the footer #}
    {% endblock %}
{% endblock %}
