{# templates/partials/_sidebar.html.twig #}

<style>
    .shortcut-links-container {
        position: sticky; /* Changed from sticky to absolute */
        margin-left: 7rem; /* Add a left margin to push it to the right */
        padding: 1rem;
        background-color: transparent; /* Ensures no background color */
        width: 300px; /* Set a fixed width */
    }

    .shortcut-links-box {
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        background-color: #FFFFFF; /* Set the background color to white */
    }

    .shortcut-links-title {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .shortcut-links-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .shortcut-links-list li a {
        display: block;
        padding: 0.5rem 1rem;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .shortcut-links-list li a:hover,
    .shortcut-links-list li a:focus {
        background-color: #e2e2e2;
    }
</style>

<div class="shortcut-links-container">
    <div class="shortcut-links-box">
        <h3 class="shortcut-links-title">Top Teams</h3>
        <ul class="shortcut-links-list">
            <li><a href="{{ path('app_browse', {'slug': 'TSG 1899 Hoffenheim'}) }}">TSG 1899 Hoffenheim</a></li>
            <li><a href="{{ path('app_browse', {'slug': 'Bayer 04 Leverkusen'}) }}">Bayer 04 Leverkusen</a></li>
            <li><a href="{{ path('app_browse', {'slug': 'FC Bayern München'}) }}">FC Bayern München</a></li>
            <li><a href="{{ path('app_browse', {'slug': 'Borussia Dortmund'}) }}">Borussia Dortmund</a></li>
            <li><a href="{{ path('app_browse', {'slug': '1. FC Köln'}) }}">1. FC Köln</a></li>
            <!-- ... more links ... -->
        </ul>
    </div>
</div>
