<header class="sticky top-0 z-50 mt-4 w-full flex flex-col items-center justify-center space-y-12 bg-white">
    <!-- Container for Logo and Navigation -->
    <div class="flex  items-center space-x-5">
        <!-- Placeholder for Logo -->
        <div class="w-60 rounded-2xl overflow-hidden shadow-lg mt-8">
            <img src="/assets/logo.jpg" alt="LOGO" class="max-w-full h-auto"> <!-- Logo Image -->
        </div>
        <!-- Navigation: Vertically Stacked -->
        <nav class="flex flex-col space-y-8 h-full mt-8">
            <a href="{{ path('app_register') }}" class="bg-gray-100 hover:bg-gray-200 text-gray-900 px-4 py-2 rounded-lg w-full text-center">Register</a>
            <a href="{{ path('app_login') }}" class="bg-gray-100 hover:bg-gray-200 text-gray-900 px-4 py-2 rounded-lg w-full text-center">Login</a>
            <a href="{% if user %}{{ path('app_shopping_cart') }}{% endif %} {% if not user %}{{ path('app_login') }}{% endif %}" class="bg-gray-100 hover:bg-gray-200 text-gray-900 px-4 py-2 rounded-lg w-full text-center">Shopping Cart</a>
        </nav>
    </div>
    <div class="flex space-x-5">
        <!-- User Greeting -->
        {% if user %}
            <div class="text-gray-900 bg-gray-100 rounded-lg px-4 py-2">
                Nice to have you here, {{ user }}
            </div>
            <a href="{{ path('app_logout') }}" class="bg-gray-100 hover:bg-gray-200 text-gray-900 px-4 py-2 rounded-lg">Logout</a>
        {% endif %}
    </div>
    <div class="flex justify-center w-full"> <!-- Add flex container with full width -->
        <form action="{{ path('search_redirect') }}" method="GET" class="w-1/2"> <!-- Set form width to 50% of its parent -->
            <input type="text" class="p-4 rounded-2xl border-2 border-gray-200 text-center w-full" name="query" placeholder="Search for team..." id="search"> <!-- Set input width to full width of form -->
        </form>
    </div>
    <div>
    </div>
</header>
